@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  font-family: "Jost", sans-serif;
}
.Cards {
  float: left;
  margin-right: 1vw;
}

.CardImage {
  height: 300px;
  width: 300px;
  transition: 0.5s;
}

.Cards:hover .CardImage {
  filter: brightness(0.4) blur(2px);
}

.CardTitle {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  color: white;
  margin-left: 1vw;
}

.Cards:hover .CardTitle {
  opacity: 1;
}
