@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  font-family: "Jost", sans-serif;
}

*::selection {
  background: #348981;
  color: white;
}

body {
  color: #f1f1f1;
  background-color: #06060c;
  margin: 0;
}

/*
  *Navbar
*/
nav {
  flex-grow: 1;
  padding-top: 1.5vh;
  padding-bottom: 1.25vh;
  text-align:center;
  transition: top 0.4s;
  z-index: 3;
  background-color: #00000e;
}

nav ul li {
  list-style: none;
  margin: 0.5%;
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 1.3em;
  color: #EDEFEF;
  padding: 1vw 1.5vw 2vh 1.5vw;
  border-radius: 0.25em;
  font-weight: bold;
  position: relative;
overflow: hidden;
transition: .5s ease-in-out; 
}

nav a:hover {
  background-color: #e2e2e2;
  color: #00000e;
}

nav a::before, 
nav a::after {
content: "";
width: 0;
height: 0.25em;
  background-color: #348981;
transition: width .15s ease-out;
position: absolute;
bottom: 0;
}

nav a::before {
left: 50%;
transform: translateX(-50%); 
}
nav a::after {
right: 50%;
transform: translateX(50%); 
}
nav a:hover::before, 
nav a:hover::after {
width: 100%;
transition-duration: .25s;
}

/*
  * Main Indent
*/

.main-indent {
  height: 100vh;
  margin-top: 0;
  color: #f1f1f1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/spray-1761311_1920.jpg");
}

.main-indent-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-indent-title h1 {
  font-size: 3.5em;
  font-weight: bold;
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: 0.5ch;
  animation: fly-in 1.5s;
}

@keyframes fly-in {
  0%   { 
  transform: translatey(100%);
  opacity: 0;		
  }
  100% { 
  transform: translatey(0%); 
  opacity: 1;
  }
}

.main-indent-title h1::selection {
  color: #348981;
  background-color: transparent;
}

.main-indent-title h2 {
  margin-top: 0;
  margin-bottom: 20vh;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: 0.25ch;
  animation: fly-in 1s;
}

.main-indent-title button {
  background-color: transparent;
  border: 0.05em solid #f1f1f1;
  border-radius: 0.25em;
  margin-top: 0;
  color: #f1f1f1;
  font-size: 2em;
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: 0.25ch;
  transition: 0.5s;
  animation: fly-in 1s;
}

.main-indent-title button:hover {
  background-color: #f1f1f1;
  color: black;
}

.main-indent-title:first-child {
  padding-top: 20vh;
}

/* 
  * Cards 
*/

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40vh;
  overflow: hidden;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.card {
  overflow: hidden;
  position: relative;
}

.card-title {
  opacity: 0;
  color: #f1f1f1;
  position: absolute;
  top: 0;
  transition: 0.7s;
}

.card-title h1 {
  margin-top: 3vh;
  margin-left: 1vw;
  font-size: 2.25em;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  line-height: 1.25;
  transition: 0.5s;
}

.card-title p {
  margin-left: 1vw;
  width: 90%;
  font-size: 1em;
  line-height: 1.25;
  transition: 0.5s;
}

.card hr {
  margin-left: 1vw;
  border: 0.1em solid white;
  background-color: white;
  margin-top: 0;
  width: 0;
  transition: 0.5s;
}

.card img {
  height: 100%;
  transition: transform 0.7s, filter 1s ease;
}

.card:hover img {
  transform: scale(1.15);
  filter: brightness(0.6) blur(0.07em) contrast(110%) saturate(50%);
}

.card:hover .card-title {
  opacity: 1;
}

.card:hover hr {
  width: 90%;
}

/*
  * Panels 
*/

.panel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 90vh;
  grid-gap: 0.25em;
  overflow: hidden;
}

.panel-grid-item {
  overflow: hidden;
  position: relative;
}

.panel-item-title {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.7s;
}

.panel-item-title h1 {
  margin-top: 3vh;
  margin-left: 1vw;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.25;
  transition: 0.5s;
}

.panel-item-title p {
  margin-left: 1vw;
  width: 90%;
  font-size: 1em;
  line-height: 1.25;
  transition: 0.5s;
}

.panel-grid-item img {
  height: 100%;
  transition: transform 0.7s, filter 1s ease;
}

.panel-grid-item:hover img {
  transform: scale(1.15);
  filter: brightness(0.5) blur(0.07em) contrast(110%) saturate(50%);
}

.panel-grid-item:hover .panel-item-title {
  opacity: 1;
}

/*
  * Preloader
*/
#preloader {
  background-color: #00000e;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
}

#preloader svg {
  margin-top: 30vh;
}

.triangle{
  fill: transparent;
  stroke: white;
  stroke-width: 13;
}

.triangle:nth-child(1) {
  stroke: white;
  animation: triangle-anim1 1s alternate infinite;
}

.triangle:nth-child(2) {
  stroke: #348981;
  animation: triangle-anim2 1s alternate infinite;
}

.triangle:nth-child(3) {
  stroke: #16302B;
  animation: triangle-anim3 1s alternate infinite;
}

@keyframes triangle-anim1 {
  0% { 
      stroke: white;
      transform: scaleY(1.05);
  }
  50% { 
      stroke: #348981;
  }
  100% { 
      stroke: #16302B;
  }
}

@keyframes triangle-anim2 {
  0% { 
      stroke: #16302B;	
  }
  50% { 
      stroke: white;
      transform: scaleY(1.05);
  }
  100% {
      stroke: #348981;
  }
}

@keyframes triangle-anim3 {
  0% {
      stroke: #348981;	
  }
  50% {
      stroke: #16302B;
  }
  100% {
      stroke: white;
      transform: scaleY(1.05);
  }
}

/* 
  * ScrollBar 
*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #00000e;
}

::-webkit-scrollbar-thumb {
  background: rgb(28, 44, 54);
}

::-webkit-scrollbar-thumb:hover {
  background: #348981;
}
