/*
  * Main Indent
*/

.main-indent {
    height: 100vh;
    margin-top: 0;
    color: #f1f1f1;
    
  }
  
  .main-indent-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-indent-title h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 0.5ch;
    animation: fly-in 1.5s;
  }
  
  @keyframes fly-in {
    0%   { 
    transform: translatey(100%);
    opacity: 0;		
    }
    100% { 
    transform: translatey(0%); 
    opacity: 1;
    }
  }
  
  .main-indent-title h1::selection {
    color: #348981;
    background-color: transparent;
  }
  
  .main-indent-title h2 {
    margin-top: 0;
    margin-bottom: 20vh;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 0.25ch;
    animation: fly-in 1s;
  }
  
  .main-indent-title button {
    background-color: transparent;
    border: 0.05em solid #f1f1f1;
    border-radius: 0.25em;
    margin-top: 0;
    color: #f1f1f1;
    font-size: 2em;
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 0.25ch;
    transition: 0.5s;
    animation: fly-in 1s;
  }
  
  .main-indent-title button:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .main-indent-title:first-child {
    padding-top: 20vh;
  }
  
  /* 
    * Cards 
  */
  
  .cards-indent {
    background-image: url(../images/cards-indent.png);
      background-repeat: no-repeat;
      background-size: cover;
    height: 35vh;
  }
  
  .cards-indent-reversed {
    background-image: url(../images/cards-indent-reversed.png);
      background-repeat: no-repeat;
      background-size: cover;
    height: 35vh;
  }
  
  .card-back {
    background-color: black;
    padding: 2em;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40vh;
    column-gap: 1vw;
    row-gap: 2vh;
    overflow: hidden;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  .card {
    overflow: hidden;
    position: relative;
    border-radius: 0.25em;
  }
  
  .card-title {
    opacity: 0;
    color: #f1f1f1;
    position: absolute;
    top: 0;
    transition: 0.7s;
  }
  
  .card-title h1 {
    margin-top: 3vh;
    margin-left: 1vw;
    font-size: 2.25em;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    line-height: 1.25;
    transition: 0.5s;
  }
  
  .card-title p {
    margin-left: 1vw;
    width: 90%;
    font-size: 1em;
    line-height: 1.25;
    transition: 0.5s;
  }
  
  .card hr {
    margin-left: 1vw;
    border: 0.1em solid white;
    background-color: white;
    margin-top: 0;
    width: 0;
    transition: 0.5s;
  }
  
  .card img {
    height: 100%;
    transition: transform 0.7s, filter 1s ease;
  }
  
  .card:hover img {
    transform: scale(1.15);
    filter: brightness(0.6) blur(0.07em) contrast(110%) saturate(50%);
  }
  
  .card:hover .card-title {
    opacity: 1;
  }
  
  .card:hover hr {
    width: 90%;
  }

/* 
    * Animals 
*/
.animals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80vh;
  column-gap: 1vw;
  row-gap: 2vh;
  overflow: hidden;
  padding: 3ch;
  padding-left: 5%;
  padding-right: 5%;
}

.animal-card {
  overflow: hidden;
  position: relative;
  font-family: 'Century Gothic', sans-serif;
  background-color: #141419;
  border-radius: 0.75em;
  transition: 0.5s;
}

.animal-card h1 {
  margin-left: 1vw;
  font-size: 2em;
  font-family: Futura, Trebuchet MS, Arial, sans-serif; 
  line-height: 1.25;
}

.animal-card p {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1em;
  line-height: 1.25;
  line-height: 1.5;
  word-spacing: 0.25ch;
}

.animal-card img {
  width: 100%;
  height: 40%;
}

.animal-card:hover {
  filter: drop-shadow(0 0 1.25rem #0d1b22);
}
  
/*
    * Panels 
*/
  
  .panel-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 90vh;
    grid-gap: 0.25em;
    overflow: hidden;
  }
  
  .panel-grid-item {
    overflow: hidden;
    position: relative;
  }
  
  .panel-item-title {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 0.7s;
  }
  
.panel-item-title h1 {
    margin-top: 3vh;
    margin-left: 1vw;
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.25;
    transition: 0.5s;
}
  
.panel-item-title p {
    margin-left: 1vw;
    width: 90%;
    font-size: 1em;
    line-height: 1.25;
    transition: 0.5s;
}
  
.panel-grid-item img {
    height: 100%;
    transition: transform 0.7s, filter 1s ease;
}
  
.panel-grid-item:hover img {
    transform: scale(1.15);
    filter: brightness(0.5) blur(0.07em) contrast(110%) saturate(50%);
}
  
.panel-grid-item:hover .panel-item-title {
    opacity: 1;
}

/*
    * Glass Note
*/

.glass-note-container {
    height: 100vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    width: 75%;
    height: auto;
    background-color: hsla(174, 45%, 37%, 0.075);
    box-shadow: 0 0.5em 2em 0 rgba(15, 15, 22, 0.37);
    backdrop-filter: blur( 0.5em );
    -webkit-backdrop-filter: blur( 0.5em );
    border-radius: 1ch;
    border: none;
    text-align: center;
}

.glass h1 {
    margin-top: 5vh;
    font-size: 3em;
    font-weight: bold;
}

.glass p {
    font-size: 1.5em;
    margin-left: 5vw;
    margin-right: 5vw;
}

.glass button {
    color: white;
    background-color: transparent;
    box-shadow: 0 0.5em 2em 0 rgba(15, 15, 22, 0.37);
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 0.5em 1em 0.5em 1em;
    border: 0.15em solid #f2f2f2;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    transition: 0.25s;
}

.glass button:hover {
    background-color: hsla(174, 45%, 37%, 0.5);
    border-color: transparent;
    filter: drop-shadow(0 0 0.75rem #141419);
}